{#

Content text for the Introduction Authenticated page

#}

<div class="rewards-int-block">
  <div class="rewards-int-block__container">
    <div class="rewards-int-block__welcome-heading"> <span> Welcome! </span> </div>
    <div class="rewards-int-block__welcome-text"> Share your number at checkout to snag every reward within reach! </div>
    <a class="rewards-int-block__button" title="How it works" href="/work"> See how it works </a>
  </div>
</div>
