<div class="signinup__wrapper clearfix">
  <div class="signinup-container signin social-account">
    <h1 class="signinup-container__title">Connect<br />Social Account</h1>
    <p class="signinup-container__text social-account__text">We found an existing Whole Foods Market account using the same email as your Facebook account.</p>
    <div class="signinup__social ">
      <div class="signinup-container__social social-account__social">
        <a href="javascript:void(0)" class="signinup-container__btn--social social-account__btn" roll="button" aria-controls="Facebook Social Login Button">
            <span class="visually-hidden">Facebook Social Login</span>
            <span class="icon icon-fb"></span>
        </a>
        <p class="social-account__email">benedictcumberbatch@gmail.com</p>
      </div>
      <p class="signinup-container__text signinup-container__signin-text">Would you like to use your Facebook account to sign in?</p>
    </div>
    <div class="wfm-form__wrapper">
      <div class="wfm-form signin-form social-account__form">
        <form action="#" >
          <div class="wfm-form__item wfm-form__item-submit signin-form__item social-account__submit-btn">
            <input type="button" value="Yes, connect my social account" class="wfm-form__input signin-form__input social-account__form-input">
          </div>
          <div class="wfm-form__item wfm-form__item-submit signup-form__item clearfix">
            <input type="button" value="No, use my email to sign in" class="wfm-form__input signup-form__input social-account__form-input social-account__form-input--signin disabled">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
