<div class="footer__block">
  <div class="footer__block--select-store clearfix hidden-xs">
    <h4 class="footer__block-title">Select a store</h4>
    <p class="footer__block-text select-store-text">Selecting a store allows you to see that store's content throughout the site, such as sales, store events, and more.</p>
    <a class="footer__block-link select-store-link" href="#">Find a Store</a>
  </div>
</div>

