<div class="signinup__wrapper clearfix forgotpwddtl">
  <div class="signinup-container signup">
    <h1 class="signinup-container__title">Reset password</h1>
    <p class="forgotpwddtl__subtitle">Email sent! please check your inbox.</p>
    <p class="signinup-container__text forgotpwddtl__text">In order to protect your information, we will confirm your account status via email and allow you to create a new password. Your password has not been changed yet.</p>
    <a href="/signin" class="forgotpwddtl__link">Back to sign in</a>
  </div>
</div>
