<div class="coupons-msg__wrapper coupons-msg digital-coupons">
  <h1 class="coupons-msg__title">Digital Coupons</h1>
  <p class="coupons-msg__text">Sorry, Whole Foods Market&reg; Digital Coupons are available in the U.S. Only.</p>
  <p class="coupons-msg__text">For other ways to save, check out the sales at your nearest store.</p>
  <a href="/sales-flyer" class="coupons-msg__button link">Go to local sales</a>
</div>
