<div class="my-account-wrapper clearfix">
  <div class="my-account__head clearfix">
      <h1 class="my-account__head-title">My Account</h1>
      <div class="my-account__tabs">
        <nav class="my-account__tabs-navbar" role="navigation" aria-label="my-account Setting Tabs">
          <h4 class="hidden">Acount Setting Tabs</h4>
          <ul class="my-account__tabs-nav">
            <li class="my-account__tabs-item">
              <a href="javascript:void(0)" class="my-account__tabs-link link">Account Settings</a>
            </li>
            <li class="my-account__tabs-item">
              <a href="javascript:void(0)" class="my-account__tabs-link link">Dietary Preferences</a>
            </li>
            <li class="my-account__tabs-item">
              <a href="javascript:void(0)" class="my-account__tabs-link link active">My Saved Recipes</a>
            </li>
            <li class="my-account__tabs-item">
              <a href="javascript:void(0)" class="my-account__tabs-link link">Shopping Lists</a>
            </li>
          </ul>
        </nav>
      </div>
  </div>
  <div class="my-account__container clearfix">
    <div class="my-account__recipe">
      <h2 class="my-account__recipe-title">My Saved Recipes</h2>
      <p class="my-account__recipe-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, vitae, enim! Ad sunt voluptatibus corrupti consectetur.</p>
      <div class="my-account__recipe-list">
        <h2 class="my-account__recipe-title">Appetizer</h2>
        <ul class="my-account__recipe-nav">
          <li class="my-account__recipe-item">
            <a href="javascript:void(0)" class="my-account__recipe-link link">Shopping Lists</a>
            <a href="javascript:void(0)" class="my-account__recipe-link--remove link"> remove</a>
          </li>
          <li class="my-account__recipe-item">
            <a href="javascript:void(0)" class="my-account__recipe-link link">Lorem ipsum dolor sit amet.</a>
            <a href="javascript:void(0)" class="my-account__recipe-link--remove link"> remove</a>
          </li>
          <li class="my-account__recipe-item">
            <a href="javascript:void(0)" class="my-account__recipe-link link">Lorem ipsum dolor sit ametfja akdiekdi.</a>
            <a href="javascript:void(0)" class="my-account__recipe-link--remove link"> remove</a>
          </li>
          <li class="my-account__recipe-item">
            <a href="javascript:void(0)" class="my-account__recipe-link link">Lorem ipsum dolor sit amet</a>
            <a href="javascript:void(0)" class="my-account__recipe-link--remove link"> remove</a>
          </li>
        </ul>
      </div>
      <div class="my-account__recipe-list">
        <h2 class="my-account__recipe-title">Main Dishes</h2>
        <ul class="my-account__recipe-nav">
          <li class="my-account__recipe-item">
            <a href="javascript:void(0)" class="my-account__recipe-link link">Shopping Lists</a>
            <a href="javascript:void(0)" class="my-account__recipe-link--remove link"> remove</a>
          </li>
          <li class="my-account__recipe-item">
            <a href="javascript:void(0)" class="my-account__recipe-link link">Lorem ipsum dolor sit amet.</a>
            <a href="javascript:void(0)" class="my-account__recipe-link--remove link"> remove</a>
          </li>
          <li class="my-account__recipe-item">
            <a href="javascript:void(0)" class="my-account__recipe-link link">Lorem ipsum dolor sit ametfja akdiekdi.</a>
            <a href="javascript:void(0)" class="my-account__recipe-link--remove link"> remove</a>
          </li>
          <li class="my-account__recipe-item">
            <a href="javascript:void(0)" class="my-account__recipe-link link">Lorem ipsum dolor sit amet</a>
            <a href="javascript:void(0)" class="my-account__recipe-link--remove link"> remove</a>
          </li>
        </ul>
      </div>
      <div class="my-account__recipe-list">
        <h2 class="my-account__recipe-title">Side Dishes</h2>
        <ul class="my-account__recipe-nav">
          <li class="my-account__recipe-item">
            <a href="javascript:void(0)" class="my-account__recipe-link link">Shopping Lists</a>
            <a href="javascript:void(0)" class="my-account__recipe-link--remove link"> remove</a>
          </li>
          <li class="my-account__recipe-item">
            <a href="javascript:void(0)" class="my-account__recipe-link link">Lorem ipsum dolor sit amet.</a>
            <a href="javascript:void(0)" class="my-account__recipe-link--remove link"> remove</a>
          </li>
          <li class="my-account__recipe-item">
            <a href="javascript:void(0)" class="my-account__recipe-link link">Lorem ipsum dolor sit ametfja akdiekdi.</a>
            <a href="javascript:void(0)" class="my-account__recipe-link--remove link"> remove</a>
          </li>
          <li class="my-account__recipe-item">
            <a href="javascript:void(0)" class="my-account__recipe-link link">Lorem ipsum dolor sit amet</a>
            <a href="javascript:void(0)" class="my-account__recipe-link--remove link"> remove</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
