<div class="my-account-wrapper clearfix">
  <div class="my-account__head clearfix">
      <h1 class="my-account__head-title">My Account</h1>
      <div class="my-account__tabs">
        <nav class="my-account__tabs-navbar" role="navigation" aria-label="my-account Setting Tabs">
          <h4 class="hidden">Acount Setting Tabs</h4>
          <ul class="my-account__tabs-nav">
            <li class="my-account__tabs-item">
              <a href="javascript:void(0)" class="my-account__tabs-link link active">Account Settings</a>
            </li>
            <li class="my-account__tabs-item">
              <a href="javascript:void(0)" class="my-account__tabs-link link">Dietary Preferences</a>
            </li>
            <li class="my-account__tabs-item">
              <a href="javascript:void(0)" class="my-account__tabs-link link">My Saved Recipes</a>
            </li>
            <li class="my-account__tabs-item">
              <a href="javascript:void(0)" class="my-account__tabs-link link">Shopping Lists</a>
            </li>
          </ul>
        </nav>
      </div>
  </div>
  <div class="my-account__container clearfix">
    <h2 class="my-account__container-title">Dietary Preferences</h2>
    <div class="wfm-form__wrapper">
      <div class="wfm-form special-diets__form">
        <form action="#" >
          <div class="wfm-form__item wfm-form__item--checkbox ">
            <input type="checkbox" class="wfm-form__checkbox"  name="diets[]" id="special-diets-1" value="morning" />
            <label for="special-diets-1" class="wfm-form__checkbox--label">
              <i class="css-checkbox css-checkbox--unchecked unchecked">
              </i>
              <i class="css-checkbox css-checkbox--checked checked">
              </i>
              Low Fat.
            </label>
          </div>
          <div class="wfm-form__item wfm-form__item--checkbox ">
            <input type="checkbox" class="wfm-form__checkbox"  name="diets[]" id="special-diets-2" value="morning" />
            <label for="special-diets-2" class="wfm-form__checkbox--label">
              <i class="css-checkbox css-checkbox--unchecked unchecked">
              </i>
              <i class="css-checkbox css-checkbox--checked checked">
              </i>
              Low Fat.
            </label>
          </div>
          <div class="wfm-form__item wfm-form__item--checkbox ">
            <input type="checkbox" class="wfm-form__checkbox"  name="diets[]" id="special-diets-3" value="morning" />
            <label for="special-diets-3" class="wfm-form__checkbox--label">
              <i class="css-checkbox css-checkbox--unchecked unchecked">
              </i>
              <i class="css-checkbox css-checkbox--checked checked">
              </i>
              Low Fat.
            </label>
          </div>
          <div class="wfm-form__item wfm-form__item--checkbox ">
            <input type="checkbox" class="wfm-form__checkbox"  name="diets[]" id="special-diets-4" value="morning" />
            <label for="special-diets-4" class="wfm-form__checkbox--label">
              <i class="css-checkbox css-checkbox--unchecked unchecked">
              </i>
              <i class="css-checkbox css-checkbox--checked checked">
              </i>
              Low Fat.
            </label>
          </div>
          <div class="wfm-form__item wfm-form__item--checkbox ">
            <input type="checkbox" class="wfm-form__checkbox"  name="diets[]" id="special-diets-5" value="morning" />
            <label for="special-diets-5" class="wfm-form__checkbox--label">
              <i class="css-checkbox css-checkbox--unchecked unchecked">
              </i>
              <i class="css-checkbox css-checkbox--checked checked">
              </i>
              Low Fat.
            </label>
          </div>
          <div class="wfm-form__item wfm-form__item--checkbox ">
            <input type="checkbox" class="wfm-form__checkbox"  name="diets[]" id="special-diets-6" value="morning" />
            <label for="special-diets-6" class="wfm-form__checkbox--label">
              <i class="css-checkbox css-checkbox--unchecked unchecked">
              </i>
              <i class="css-checkbox css-checkbox--checked checked">
              </i>
              Low Fat.
            </label>
          </div>
          <div class="wfm-form__item wfm-form__item--checkbox ">
            <input type="checkbox" class="wfm-form__checkbox"  name="diets[]" id="special-diets-7" value="morning" />
            <label for="special-diets-7" class="wfm-form__checkbox--label">
              <i class="css-checkbox css-checkbox--unchecked unchecked">
              </i>
              <i class="css-checkbox css-checkbox--checked checked">
              </i>
              Low Fat.
            </label>
          </div>
          <div class="wfm-form__item wfm-form__item--checkbox ">
            <input type="checkbox" class="wfm-form__checkbox"  name="diets[]" id="special-diets-8" value="morning" />
            <label for="special-diets-8" class="wfm-form__checkbox--label">
              <i class="css-checkbox css-checkbox--unchecked unchecked">
              </i>
              <i class="css-checkbox css-checkbox--checked checked">
              </i>
              Low Fat.
            </label>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
