<div class="css-checkbox__wrapper">
  <i class="css-checkbox css-checkbox--unchecked">
  </i>
  <i class="css-checkbox css-checkbox--error">
  </i>
  <i class="css-checkbox css-checkbox--checked">
  </i>
</div>
