@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNext-Regular');
  src: url('../fonts/AvenirNext-Regular/AvenirNext-Regular.woff2') format('woff2'), url('../fonts/AvenirNext-Regular/AvenirNext-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: auto;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNext-Medium');
  src: url('../fonts/AvenirNext-Medium/AvenirNext-Medium.woff2') format('woff2'), url('../fonts/AvenirNext-Medium/AvenirNext-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  -webkit-font-smoothing: auto;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNext-Demi');
  src: url('../fonts/AvenirNext-Demi/AvenirNext-Demi.woff2') format('woff2'), url('../fonts/AvenirNext-Demi/AvenirNext-Demi.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  -webkit-font-smoothing: auto;
}

@font-face {
  font-family: 'Cooper BT';
  src: url('../fonts/CooperBT-Medium');
  src: url('../fonts/CooperBT-Medium/CooperBTforWFM-Medium.woff2') format('woff2'), url('../fonts/CooperBT-Medium/CooperBTforWFM-Medium.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  -webkit-font-smoothing: auto;
}

@font-face {
  font-family: 'Rescue';
  src: url('../fonts/Rescue');
  src: url('../fonts/Rescue/Rescue.woff2') format('woff2'), url('../fonts/Rescue/Rescue.woff') format('woff');
  -webkit-font-smoothing: auto;
}
