@import '../node_modules/susy/sass/susy';
@import '../node_modules/breakpoint-sass/stylesheets/breakpoint';
@import '../node_modules/chroma-sass/sass/chroma';

/**
  Config file that contains centralized variables
*/

@import "config";

/**
  Mixins file that contains all the mixinx available
*/

@import "mixins";

/**
  Fonts used on the site.
*/

@import "fonts";

/**
  General utility functions.
*/

@import "utils";

/**
  Functionality for the header.
*/
@import "components/wfm-header/**/*";

/**
  Functionality for the header.
*/
@import "components/wfm-popup/wfm-popup-find-store/*";

.wfm_embeddable_header {
  z-index: 100;
}

.menu-top__link {
  font-family: $avenier-next;
  font-size: 1.3rem;
}

.menu--main__link {
  text-decoration: none;
}
