{#

Content text for the download the app Block.

#}

<div class="rewards-download-app-block">
  <div class="rewards-download-app-block__image">
    <svg>
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#download-app"></use>
    </svg>
  </div>
  <div class="rewards-download-app-block__title">
    Download the app
  </div>
  <div class="rewards-download-app-block__subtitle">
    Get instant savings every time you shop.
  </div>
  <div class="rewards-download-app-block__actions">
    <a href="https://itunes.apple.com/us/app/whole-foods-market/id320029256?mt=8" class="rewards-download-app-block__actions-btn">
      <svg class="svg-play-store">
        <use xlink:href="#app_store"></use>
      </svg>
      <span class="visually-hidden">Download from App store</span>
    </a>
    <a href="https://play.google.com/store/apps/details?id=com.wholefoods.wholefoodsmarket" class="rewards-download-app-block__actions-btn">
      <svg class="svg-play-store">
        <use xlink:href="#play_store"></use>
        <span class="visually-hidden">Download from Play store</span>
      </svg>
    </a>
  </div>
</div>
