<div class="footer__block">
  <div class="footer__block--newsletter">
    <h4 class="footer__block-title newsletter-title">Newsletter Subscription</h4>
    <p class="footer__block-text newsletter-text">Get special offers, recipes and more delivered to your inbox every week.</p>
    <a class="footer__block-link newsletter-link" href="/newsletters">Sign Up</a>
  </div>
</div>

