<div class="signinup__wrapper clearfix">
  <div class="signinup-container upgrade__container">
    <h1 class="signinup-container__title">Upgrade To</h1>
    <p class="upgrade__container__subtitle">Link your phone number to your account, then proivde your phone number at checkout for instant savings.</p>
    <div class="wfm-form__wrapper">
      <div class="wfm-form upgrade-form">
        <form action="#" >
          <div class="wfm-form__item upgrade-form__item">
            <label for="phone-number-up" class="wfm-form__label upgrade-form__label error" >Phone Number</label>
            <input type="text" name="phone" class="wfm-form__input upgrade-form__input error" id="phone-number-up" placeholder="Phone Number" aria-describedby="up-phone-error-message" required="true">
            <span class="wfm-form__error-msg upgrade-form__error-msg" id="up-phone-error-message">Lorem ipsum dolor sit amet.</span>
          </div>
          <div class="wfm-form__group clearfix">
            <div class="wfm-form__item upgrade-form__item">
              <label for="zip-code-up" class="wfm-form__label upgrade-form__label error" >5-Digit ZIP Code</label>
              <input type="text" name="zip-code" class="wfm-form__input upgrade-form__input error" id="zip-code-up" placeholder="Zip Code" aria-describedby="up-zip-error-message" required="true">
              <span class="wfm-form__error-msg upgrade-form__error-msg" id="up-zip-error-message">Lorem ipsum dolor sit amet Lorem ipsum.</span>
            </div>
            <div class="wfm-form__item upgrade-form__item">
              <label for="house-hold-size-up" class="wfm-form__label upgrade-form__label error" >Household Size</label>
              <select class="wfm-form__select upgrade-form__select error" name="sectionup" id="house-hold-size-up" aria-describedby="up-hosuehold-error-message" required="true">
                <option label="Household" disabled="" selected="">Household</option>
                <option label="1">1</option>
                <option label="2">2</option>
                <option label="3">3</option>
                <option label="4">4</option>
                <option label="5">5</option>
                <option label="6+">6+</option>
              </select>
              <div class="select__arrow error"></div>
              <span class="wfm-form__error-msg upgrade-form__error-msg" id="up-hosuehold-error-message">Lorem ipsum dolor sit amet Lorem ipsum.</span>
            </div>
          </div>
          <div class="wfm-form__item wfm-form__item--select-store upgrade-form__item upgrade-form--select-store">
            <input type="hidden" class="wfm-form__checkbox upgrade-form__checkbox hidden"  name="select-store-up" id="select-store-up" />
            <label for="select-store-up" class="wfm-form__checkbox--label upgrade-form__checkbox--label select-store">
              <svg class="select-store"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#pin_m"></use></svg>
              <span class="label__text">My Store</span>
              <p class="store-address">Your closest store is: <span class="bold">Indian School Plaza</span>, 525 N Lamar Blvd., Austin, Texas</p>
            </label>
            <a href="#1" class="signinup__below__link link">Select a store (required)</a>
          </div>
          <div class="wfm-form__item wfm-form__item--checkbox upgrade-form__item">
            <input type="checkbox" class="wfm-form__checkbox upgrade-form__checkbox"  name="up-checbox" id="terms-conditions-up" value="morning" required="true" aria-describedby="up-terms-conditions-error-message" />
            <label for="terms-conditions-up" class="wfm-form__checkbox--label upgrade-form__checkbox--label">
              <i class="css-checkbox css-checkbox--unchecked unchecked">
              </i>
              <i class="css-checkbox css-checkbox--error error">
              </i>
              <i class="css-checkbox css-checkbox--checked checked">
              </i>
              I have reviewed and agree to the Whole Foods Market&reg; <a href="javascript:void(0)" class="label__link">Digital Coupons Terms & Conditions</a>, the Whole Foods Market <a href="javascript:void(0)" class="label__link">Privacy Policy</a> and the Whole Foods Market <a href="javascript:void(0)" class="label__link">Terms of Use</a>.
            </label>
            <span class="wfm-form__error-msg upgrade-form__error-msg error-msg" id="up-terms-conditions-error-message">Lorem ipsum dolor sit ipsum dolor.</span>
          </div>
          <div class="wfm-form__item wfm-form__item-submit upgrade-form__item-submit clearfix">
            <input type="submit" value="Update account" class="wfm-form__input upgrade-form__input disabled">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

