{#

Content text for the Coupons Block

#}

<div class="coupons-int-card coupons-page-card">
  <div class="coupons-int-card__header">
    <div class="coupons-int-card__title">
      Reward Ready !
    </div>
    <div class="coupons-int-card__date">
      1/02/03
    </div>
  </div>
  <div class="coupons-int-card__content">
    <div class="coupons-int-card__welcome">
      <span> Welcome </span>
    </div>
    <div class="coupons-int-card__off">
      <div class="coupons-int-card__off-percentage">
        10
      </div>
      <div class="coupons-int-card__off-detail">
        <div class="coupons-int-card__off-detail-text">
          % OFF
        </div>
        <div class="coupons-int-card__off-detail-subtext">
          your next purchase
        </div>
      </div>
    </div>
    <a class="rewards-int-block__container__button" title="How it works" href="/work"> Add reward </a>
  </div>
  <div class="coupons-card__info" aria-label="coupons card info">
    <svg class="svg-info-button-persimmon-dims">
      <use xlink:href="#info-button-persimmon"></use>
    </svg>
  </div>
</div>
