<div class="rewards-sfdf-block">
  <div class="rewards-sfdf-block__container">
    <div tabindex="0" class="rewards-sfdf-block__item savings" title="Savings">
      <div class="rewards-sfdf-block__link">
        <div class="rewards-sfdf-block__image">
        {# <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#rewards-starburst-dollar"></use></svg> #}
        </div>
        <div class="rewards-sfdf-block__title">
          Savings
        </div>
        <div class="rewards-sfdf-block__description">
          Members-only coupons delivered to you every week.
        </div>
      </div>
    </div>
    <div tabindex="0" class="rewards-sfdf-block__item fresh-deals" title="Fresh Deals">
      <div class="rewards-sfdf-block__link">
        <div class="rewards-sfdf-block__image">
        {# <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#rewards-starburst-pear"></use></svg> #}
        </div>
        <div class="rewards-sfdf-block__title">
          Fresh Deals
        </div>
        <div class="rewards-sfdf-block__description">
          Organic produce. The highest quality meat. Fresh-caught seafood.
        </div>
      </div>
    </div>
    <div tabindex="0" class="rewards-sfdf-block__item surprises" title="Surprises">
      <div class="rewards-sfdf-block__link">
        <div class="rewards-sfdf-block__image">
        {# <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#rewards-starburst-gift"></use></svg> #}
        </div>
        <div class="rewards-sfdf-block__title">
          Surprises
        </div>
        <div class="rewards-sfdf-block__description">
          Free products and offers in the departments you shop most.
        </div>
      </div>
    </div>
  </div>
</div>
