<div class="faq-page">
  <h2 class="faq-page__title">Whole Foods Market Digital Coupons<sup>&#174;</sup><br/>Frequently Asked Questions</h2>
  <div class="faq-page__section">

    <div class="faq-page__section-item">
      <h3 class="faq-page__section-ques">What is Whole Foods Market&#174; Rewards?</h3>
      <div class="faq-page__section-ans">
        <p>The Whole Foods Market Rewards program lets shoppers receive and use exclusive digital coupons along with surprise rewards and a birthday treat. </p>
      </div>
    </div>
    <div class="faq-page__section-item">
      <h3 class="faq-page__section-ques">How can I join Whole Foods Market&#174; Rewards?</h3>
      <div class="faq-page__section-ans">
        <p>
          This program is only available in our Dallas and Ft. Worth area stores. Area shoppers can create an account at <a class="link" href="http://www.wholefoodsmarket.com" title="Home Page">www.wholefoodsmarket.com/</a> or via the Whole Foods Market iOS app &amp; Andriod app.
        </p>
        <p>
          iOS &amp; Android App users can scan their barcode at checkout to receive applicable benefits—others can simply provide their phone number at checkout to receive any applicable benefits.
        </p>
      </div>
    </div>
    <div class="faq-page__section-item">
      <h3 class="faq-page__section-ques">How do I see the offers that are available to me ?</h3>
      <div class="faq-page__section-ans">
        <p>
          Once registered, you can visit the <a class="link" href="http://www.wholefoodsmarket.com/coupons" title="Coupons page">www.wholefoodsmarket.com/coupons</a> or the Whole Foods Market iOS app & Android app to see your available rewards. You can also subscribe to email and / or push notifications to be alerted when new rewards and deals become available.
        </p>

      </div>
    </div>
    <div class="faq-page__section-item">
      <h3 class="faq-page__section-ques">How does Whole Food Market&#174; use my information?</h3>
      <div class="faq-page__section-ans">
        <p>Whole Foods Market uses your purchasing history and the information that you share with us to provide more relevant communications including personalized offers. View our <a class="link" href="http://www.wholefoodsmarket.com/privacy-policy" title="Privacy Policy Page">Privacy Policy</a> for more details.
        </p>
        <p>
          As a condition of participation in our Rewards program, consent to our sharing information with third party partners is required. This is in part due to the structure of the program. We only share your information with trusted third parties and we will never sell, rent or lease your information. We value you as a customer and want to keep your trust in us. If you do not wish to allow us to share this information in the future, you may resign from Rewards by sending an email <a href="mailto:customer.questions@wholefoods.com" title="Mail to customer.questions@wholefoods.com">to customer.questions@wholefoods.com</a> with your full name, email address, card number, and the following statement: &#8220;I would like to cancel my WFM Rewards member account. By doing this I understand that my account information, any available offers, and other customer data will be deleted in accordance with the Rewards program <a class="link" href="https://www.wholefoodsmarket.com/coupons-terms" title="Coupons Terms and Condition page">Terms and Conditions</a> and the  <a class="link" href="https://www.wholefoodsmarket.com/privacy-policy" title="Privacy Policy page"> WFM Privacy Policy</a> &#8221;.
        </p>
      </div>
    </div>

    <div class="faq-page__section-item">
      <h3 class="faq-page__section-ques">I cannot log in to my account. What should I do?</h3>
      <div class="faq-page__section-ans">
        <p>
          Do you have a digital coupons account with Whole Foods Market?  Or a 365 by Whole Foods Market account?  You can log in with the same customer email and password.
        </p>
        <p>
          Did you forget your password? If you remember the email address you used when you registered, you can reset your password.
        </p>
        <p>
          Don't have access to your old email address and forgot your username or password? We are happy to help you with that. Please call our Customer Service Team at <strong>1-844-289-4629</strong> between the hours of 9:00 a.m. and 5:00 p.m. CT or <a href="mailto:customer.questions@wholefoods.com" title="Mail to customer.questions@wholefoods.com">email us at customer.questions@wholefoods.com</a>.
        </p>
      </div>
    </div>
  </div>
  <div class="faq-page__section">
    <h2 class="faq-page__section-title">Which stores currently offers the Whole Foods Market Rewards program?</h2>
    <div class="faq-page__section-item">
      <div class="faq-page__section-ans">
        <p>This list is updated regularly, so please check back often.</p>
      </div>
    </div>
    <div class="faq-page__section-item">
      <h3 class="faq-page__section-ques">Greater Philadelphia area:</h3>
      <div class="faq-page__section-ans top-spaced">
        <p>
          <strong>Cherry Hill:</strong> 1558 North Kings Highway Cherry Hill, NJ 08034<br/>
          <strong>Devon:</strong> 821 W. Lancaster Ave Wayne, PA 19087<br/>
          <strong>Glen Mills:</strong> 475 Wilmington West Chester Pike Glen Mills, PA 19342<br/>
          <strong>Jenkintown:</strong> 1575 The Fairway Jenkintown, PA 19046<br/>
          <strong>Marlton:</strong> 940 Route 73 North Marlton, NJ 08053<br/>
          <strong>North Wales:</strong> 1210 Bethlehem Pike North Wales, PA 18936<br/>
          <strong>Philly City Center:</strong> 2101 Pennsylvania Avenue Philadelphia, PA 19130<br/>
          <strong>Plymouth Meeting:</strong> 500 W. Germantown Pike Plymouth Meeting, PA 19462<br/>
          <strong>Princeton:</strong> 3495 US Route 1 South Princeton, NJ 08540<br/>
          <strong>South Street:</strong> 929 South Street Philadelphia, PA 19147<br/>
          <strong>Wynnewood:</strong> 15 E. Wynnewood Rd Wynnewood, PA 19096
        </p>
      </div>
    </div>
    <div class="faq-page__section-item">
      <h3 class="faq-page__section-ques">Dallas &amp; Fort Worth area:</h3>
      <div class="faq-page__section-ans top-spaced">
        <p>
          <strong>Addison:</strong> 5100 Belt Line Road, Suite 1012, Addison, TX 75254<br/>
          <strong>Arlington:</strong> 801 East Lamar Blvd, Arlington, TX 76011<br/>
          <strong>Cityline:</strong> 1411 E Renner Rd, Richardson, TX 75082<br/>
          <strong>Colleyville:</strong> 4801 Colleyville Blvd, Colleyville, TX 76034<br/>
          <strong>Fairview:</strong> The Village at Fairview, 105 Stacy Rd, Fairview, TX 75069<br/>
          <strong>Forest:</strong> 11700 Preston Rd, Dallas, TX 75230<br/>
          <strong>Fort Worth:</strong> 3720 Vision Drive, Fort Worth, TX 76109<br/>
          <strong>Highland Park:</strong> 4100 Lomo Alto Dr, Highland Park, TX 75219<br/>
          <strong>Highland Village:</strong> 4041 Waller Creek, Highland Village, TX 75077<br/>
          <strong>Los Colinas:</strong> 6741 N MacArthur Blvd, Irving TX 75039<br/>
          <strong>Lakewood:</strong> 2118 Abrams Road, Dallas, TX 75214<br/>
          <strong>Park Lane:</strong> 8190 Park Lane, Suite 351, Dallas, TX 75231<br/>
          <strong>Plano:</strong> 2201 Preston Rd, Plano, TX 75093<br/>
          <strong>Uptown Dallas:</strong> 2500 McKinney Ave., Dallas, TX 75201
        </p>
      </div>
    </div>
  </div>
  <div class="faq-page__section">
    <h2 class="faq-page__section-title no-b-margin">I have another question.. </h2>
    <div class="faq-page__section-ans">
      <p>
        Please call our Customer Service Team at <a href="tel:+18442894629" title="Call 1844 WFM TALK">1-844-289-4629</a> as above or email us at <a href="mailto:rewards@wholefoods.com" title="Mail to rewards@wholefoods.com">rewards@wholefoods.com</a>.
      </p>
    </div>
    <div class="faq-page__section-item">
      <div class="faq-page__section-ans top-spaced">
        <p>Last Updated Date: 9/27/2017</p>
      </div>
    </div>
  </div>
</div>
