<div class="digital-coupons digital-coupons--unauth">
  <h1 class="digital-coupons__title">Digital Coupons</h1>
  <div class="digital-coupons__content">
    Browse, save and redeem coupons to get instant savings every time you shop.
    <div> <a class="digital-coupons__link" href="coupons-faq" title="Digital Coupons FAQ"> See our Digital Coupons FAQ</a></div>
  </div>
  <div class="digital-coupons__graphic">
    <svg>
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dc-shop-scan-save"></use>
    </svg>
  </div>
</div>
