{#

Content text for the Coupons Block

#}

<div class="coupons-card coupons-page-card coupons-card--loading">
  <div class="coupons-card__left">
    <div></div>
  </div>
  <div class="coupons-card__right">
    <div class="coupons-card__title"></div>
    <div class="coupons-card__subtitle"></div>
    <div class="coupons-card__description"></div>
    <div class="coupons-card__validity"> </div>
    <div class="coupons-card__info" aria-label="coupons card info">
      <svg class="svg-info-button-persimmon-dims">
        <use xlink:href="#info-button-persimmon"></use>
      </svg>
    </div>
  </div>
</div>
