<div class="header__block">
  <div class="header__block--menu-top menu menu-top">
    <nav class="menu__navbar menu--top__navbar" aria-label="User Menu">
        <h2 class="hidden">User Menu</h2>
        <ul class="menu__nav menu-top__nav">
          <li class="menu__item menu-top__item menu-top__span">
            <span class="menu__span">My Store: </span>
            <a class="menu__link menu-top__link" href="#">Indian School Pizza</a>
          </li>
          <li class="menu__item menu-top__item">
            <a class="menu__link menu-top__link" href="#">Find A store</a>
          </li>
          <li class="menu__item menu-top__item dropdown">
              <a href="#" class="menu__link menu-top__link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">My Account</a>
              <ul class="menu-top__dropdown hidden">
                <li class="menu__item menu-top__item">
                  <a class="menu__link menu-top__link" href="#">Go to My Account</a>
                </li>
                <li class="menu__item menu-top__item">
                  <a class="menu__link menu-top__link" href="#">Log Out</a>
                </li>
              </ul>
            </li>
        </ul>
    </nav>
  </div>
</div>
