{#

Content text for the Coupons Block

#}

<div class="coupons-card coupons-page-card">
  <div class="coupons-card__left">
    <img src="{{directory}}/compressed-images/coupons_dummy.png" title="Bach Pets Rescue Remedy" alt="Product Image" />
  </div>
  <div class="coupons-card__right">
    <div class="coupons-card__title">Bach Pets Rescue Remedy</div>
    <div class="coupons-card__subtitle">
      <span class="coupons-dollar-sign">$</span>
      <span class="coupons-amount">5</span>
      <span class="coupons-off-text">OFF</span>
    </div>
    <div class="coupons-card__description">any ONE (1) 6pk Responsibly Farmed™ Frozen Atlantic Salmon Fillets </div>
    <div class="coupons-card__validity">Valid through 06/13/2017 </div>
    <div class="coupons-card__info" aria-label="coupons card info">
      <svg class="svg-info-button-persimmon-dims">
        <use xlink:href="#info-button-persimmon"></use>
      </svg>
    </div>
  </div>
</div>
