<div class="page-er__container">
  <div class="page-er__container-left">
    <svg class="svg-bgimg-404-opacity40-dims number-svg">
      <use xlink:href="#bgimg-404-opacity40"></use>
    </svg>
  </div>
  <div class="page-er__container-right">
    <h1 class="page-er__title">Page not found. &nbsp;:(</h1>
    <div class="page-er__message">
      <h2 class="page-er__message-title">Sorry, we can’t find the page you’re looking for.</h2>
      <ul class="page-er__message-nav">
        <li class="page-er__message-item">You may have followed a broken link.</li>
        <li class="page-er__message-item">You may have mistyped the URL.</li>
        <li class="page-er__message-item">The page may have been removed.</li>
      </ul>
    </div>
    <div class="page-er__message">
      <h2 class="page-er__message-title">What now?</h2>
      <ul class="page-er__message-nav">
        <li class="page-er__message-item">Search our site using the search tool above.</li>
        <li class="page-er__message-item">Check your spelling and try typing the address again.</li>
        <li class="page-er__message-item">Use our <a href="javascript:void(0)" class="page-er__message-link">Site Map</a>, or check the links below.</li>
        <li class="page-er__message-item">If you’d like to report a broken link, please <a href="javascript:void(0)" class="page-er__message-link">contact us</a>.</li>
      </ul>
    </div>
    <div class="page-er__message">
      <h2 class="page-er__message-title">You might like ...</h2>
      <ul class="page-er__message-nav">
        <li class="page-er__message-item">
          <a href="javascript:void(0)" class="page-er__message-link">Find a Store</a>
          </li>
        <li class="page-er__message-item">
          <a href="javascript:void(0)" class="page-er__message-link">Coupons</a>
        </li>
        <li class="page-er__message-item">
          <a href="javascript:void(0)" class="page-er__message-link">Sales Flyers</a>
        </li>
        <li class="page-er__message-item">
          <a href="javascript:void(0)" class="page-er__message-link">Catering & Online Ordering</a>
        </li>
        <li class="page-er__message-item">
          <a href="javascript:void(0)" class="page-er__message-link">Gift Cards</a>
        </li>
        <li class="page-er__message-item">
          <a href="javascript:void(0)" class="page-er__message-link">Healthy Eating</a>
        </li>
        <li class="page-er__message-item">
          <a href="javascript:void(0)" class="page-er__message-link">Company</a>
        </li>
        <li class="page-er__message-item">
          <a href="javascript:void(0)" class="page-er__message-link">About Whole Foods Market</a>
        </li>
        <li class="page-er__message-item">
          <a href="javascript:void(0)" class="page-er__message-link">Careers</a>
        </li>
        <li class="page-er__message-item">
          <a href="javascript:void(0)" class="page-er__message-link">Customer Service</a>
        </li>
      </ul>
    </div>
  </div>
</div>
