<div class="page-er__container page__error">
  <div class="page-er__container-left">
    <svg class="svg-500_m-dims number-svg">
      <use xlink:href="#500_m"></use>
    </svg>
  </div>
  <div class="page-er__container-right">
    <h1 class="page-er__title">Uh oh! Looks like something went wrong.</h1>
    <div class="page-er__message">
      <h2 class="page-er__message-title">Don't worry, it's nothing you did. We're on it!</h2>
      <ul class="page-er__message-nav page__error-nav">
        <li class="page-er__message-item page__error-item">Try refreshing in a few minutes.</li>
        <li class="page-er__message-item page__error-item">Need help? Call 1-844-WFM-TALK (1-844-936-8255)</li>
      </ul>
    </div>
    <div class="page-er__message">
      <h2 class="page-er__message-title">In the meantime, catch us elsewhere :</h2>
      <ul class="page-er__message-nav page__error-nav">
        <li class="page-er__message-item page__error-item">
          <a href="javascript:void(0)" class="page-er__message-link page__error-link">Find store locations on Google Maps</a>
        </li>
        <li class="page-er__message-item page__error-item">
          <a href="javascript:void(0)" class="page-er__message-link">Check out our #WholeFoodsFaves on Instagram</a>
        </li>
      </ul>
    </div>
  </div>
</div>
