{# Use modal html for creating a modal #}
{##

<div class="modal__mask">
  <div class="modal__tint" ></div>
  <div class="modal__container">
  </div>
</div>

#}

<div class="coupons-detail">
  <div class="coupons-detail__header">
    <button class="coupons-detail__close" title="Close the popup">
      <span class="hidden"> Close </span>
      <svg class="svg-X-close-red-dims">
        <use xlink:href="#X-close-red"></use>
      </svg>
    </button>
    <div class="coupons-detail__header-left">
      <img src="{{directory}}/compressed-images/coupons_dummy.png"/>
    </div>
    <div class="coupons-detail__header-right">
      <div class="coupons-detail__title">Bach Pets Rescue Remedy</div>
      <div class="coupons-detail__subtitle">
        <span class="coupons-dollar-sign">$</span>
        <span class="coupons-amount">5</span>
        <span class="coupons-off-text">OFF</span>
      </div>
      <div class="coupons-detail__description">any ONE (1) 6pk Responsibly Farmed™ Frozen Atlantic Salmon Fillets </div>
      <div class="coupons-detail__validity">Valid through 06/13/2017 </div>
    </div>
  </div>
  <div class="coupons-detail__content">
    <div class="coupons-detail__main">
      Assertively develop wireless materials before intermandated intellectual capital. Enthusiastically recaptiualize adaptive metrics after backward-compatible ideas.
    </div>
    <div class="coupons-detail__sub">
      Competently productivate integrated quality vectors whereas an expanded array of action items. Uniquely deliver technically sound infrastructures without fully researched sources. Professionally deliver distributed ROI whereas holistic ideas. Dramatically whiteboard 24/7 potentialities without functional e-business. Professionally pursue.
    </div>
  </div>
</div>
