<div class="signinup__wrapper clearfix resetpwd">
  <div class="signinup-container signup">
    <h1 class="signinup-container__title">Reset password</h1>
    <p class="signinup-container__text resetpwd__text">Select your new password and enter it below.</p>
    <div class="wfm-form__wrapper">
      <div class="wfm-form forgotpwd__form">
        <form action="#" >
          <div class="wfm-form__item resetpwd__form__item">
            <label for="password-pr" class="wfm-form__label signup-form__label screen-reader-text" >New password</label>
            <input type="text" name="email-address" class="wfm-form__input signup-form__input" id="password-pr" placeholder="New Password" aria-describedby="password-error-message-pf" required="true">
            <span class="wfm-form__error-msg signup-form__error-msg hidden" id="password-error-message-pf">Lorem ipsum dolor sit amet.</span>
          </div>
          <div class="wfm-form__item resetpwd__form__item">
            <label for="repassword-pr" class="wfm-form__label signup-form__label error" >Re-enter password</label>
            <input type="text" name="email-address" class="wfm-form__input signup-form__input error" id="repassword-pr" placeholder="Re Enter Your Password" aria-describedby="repassword-error-message-pf" required="true">
            <span class="wfm-form__error-msg signup-form__error-msg" id="repassword-error-message-pf">Lorem ipsum dolor sit amet.</span>
          </div>
          <div class="wfm-form__item wfm-form__item-submit signin-form__item">
            <input type="submit" value="Send" class="wfm-form__input signin-form__input">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
