{#

Content text for the Introduction Anonymous page

#}

<div class="rewards-int-block">
  <div class="rewards-int-block__container">
    <div class="rewards-int-block__title"> Introducing </div>
    <div class="rewards-int-block__logo">
      <img alt="My Rewards" src="{{ directory }}/compressed-images/my-rewards-logo.jpg" />
    </div>
    <div class="rewards-int-block__title"> Our best offers for our best customers </div>
    <div class="rewards-int-block__heading"> JOIN TODAY &amp; SAVE $5 OFF YOUR NEXT PURCHASE</div>
    <a class="rewards-int-block__button" title="Join now" href="/register"> Join Now </a>
    <div class="rewards-int-block__footer"> Already have an account? <a href="/signin" title="Sign in" > Sign in to start saving</a> </div>
  </div>
</div>
