{#

Content text for the scan download the app Block of coupon page.

#}

<div class="coupons-dwn-app coupons-page-card">
  <div class="coupons-dwn-app__left">
    <svg>
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#DigitalCoupon_AffinityPhone"></use>
    </svg>
  </div>
  <div class="coupons-dwn-app__right">
    <div class="coupons-dwn-app__title"> Download the app </div>
    <div class="coupons-dwn-app__description">Download the Whole Food Market&reg; app for iOS or Android for easy access to your digital coupons.</div>
    <div class="coupons-dwn-app__actions">
      <a class="coupons-dwn-app__btn" href="https://itunes.apple.com/us/app/whole-foods-market/id320029256?mt=8">
        <span class="visually-hidden"> Download from App store</span>
        <svg class="svg-app-store">
          <use xlink:href="#app_store"></use>
        </svg>
      </a>
      <a class="coupons-dwn-app__btn" href="https://play.google.com/store/apps/details?id=com.wholefoods.wholefoodsmarket">
        <span class="visually-hidden"> Download from Play store</span>
        <svg class="svg-play-store">
          <use xlink:href="#play_store"></use>
        </svg>
      </a>
    </div>
  </div>
</div>
