<div class="digital-coupons">
  <h1 class="digital-coupons__title">Digital Coupons</h1>
  <div class="digital-coupons__content">
    These coupons are waiting for you! Just scan your barcode or provide your phone number at checkout. <a class="digital-coupons__link" href="/coupons-faq">See our Digital Coupons FAQ.</a>
  </div>
</div>
