<div class="header__block">
  <div class="header__block--logo logo">
    <a href="{{ logo.path }}" title="{{ 'Home' }}" rel="home" class="logo__link">
      <svg class="logo__img svg-logo-dims">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#{{ logo.svgId }}"></use>
      </svg>
      <span class="visually-hidden">WholeFoods Market</span>
    </a>
  </div>
</div>
