<div class="footer__block">
  <div class="footer__block--connect clearfix">
    <h4 class="footer__block-title">Connect with Us</h4>
    <div class="navbar" aria-label="Shopping Menu">
      <h5 class="hidden">Connect with Us</h5>
      <ul class="footer__block-nav navbar-nav social">
        <li class="footer__block-nav-item nav-item">
          <a href="https://www.facebook.com/wholefoods" target="_blank" class="footer__block-nav-link" roll="button" aria-controls="Facebook Social button" >
            <span class="screen-reader-text">Facebook button</span>
            <svg class="svg-icon-facebook-dims icon icon-fb">
              <use xlink:href="#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer__block-nav-item nav-item">
          <a href="https://twitter.com/wholefoods/" target="_blank" class="footer__block-nav-link" roll="button" aria-controls="Twitter Social button" >
            <span class="screen-reader-text">Twitter button</span>
            <svg class="svg-icon-twitter-dims icon icon-tw">
              <use xlink:href="#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li class="footer__block-nav-item nav-item">
          <a href="https://pinterest.com/wholefoods/" target="_blank" class="footer__block-nav-link" roll="button" aria-controls="Pinterest button" >
            <span class="screen-reader-text">Pinterest button</span>
            <svg class="svg-icon-pinterest-dims icon icon-pint">
              <use xlink:href="#icon-pinterest"></use>
            </svg>
          </a>
        </li>
        <li class="footer__block-nav-item nav-item">
          <a href="https://instagram.com/wholefoods" target="_blank" class="footer__block-nav-link" roll="button" aria-controls="Instagram button" >
            <span class="screen-reader-text">Instagram button</span>
            <svg class="svg-icon-instagram-dims icon icon-insta">
              <use xlink:href="#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer__block-nav-item nav-item">
          <a href="https://www.youtube.com/wholefoods" target="_blank" class="footer__block-nav-link" roll="button" aria-controls="Youtube button" >
            <span class="screen-reader-text">Youtube button</span>
            <svg class="svg-icon-youtube-dims icon icon-ytube">
              <use xlink:href="#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
