<div class="faq-page">
  <h2 class="faq-page__title">Whole Foods Market Digital Coupons<br/>Frequently Asked Questions</h2>
  <div class="faq-page__section">
    <h2 class="faq-page__section-title">Digital Coupons</h2>
    <div class="faq-page__section-item">
      <h3 class="faq-page__section-ques">What are Whole Foods Market digital coupons?</h3>
      <div class="faq-page__section-ans">
        <p>Digital coupons are new and available in our Whole Foods Market app or at <a class="link" href="http://www.wholefoodsmarket.com/coupons" title="Coupons page"> www.wholefoodsmarket.com/coupons</a>. These coupons can be used in the store, offering savings on a wide variety of products. They are updated regularly and are just one way you can save big. </p>
        <p>Download the Whole Foods Market&#174; app for <a href="https://itunes.apple.com/us/app/whole-foods-market/id320029256?mt=8" title="Download for App store" >iOS </a> or <a href="https://play.google.com/store/apps/details?id=com.wholefoods.wholefoodsmarket" title="Download for Play store">Android</a> or visit <a class="link" href="http://www.wholefoodsmarket.com/coupons" title="Coupons page"> www.wholefoodsmarket.com/coupons</a> to create an account or sign in to your existing account and start browsing eligible coupons!</p>
      </div>
    </div>
    <div class="faq-page__section-item">
      <h3 class="faq-page__section-ques">On what types of devices can I use digital coupons?</h3>
      <div class="faq-page__section-ans">
        <p>Digital coupons are available in the Whole Foods Market app on iPhones (iOS 9.0 or later) and Android phones (Android 3.0 or later). Additionally, you can sign up for an account and view digital coupons at <a class="link" href="http://www.wholefoodsmarket.com/coupons" title="Coupons page">www.wholefoodsmarket.com/coupons</a>.</p>
      </div>
    </div>
    <div class="faq-page__section-item">
      <h3 class="faq-page__section-ques">How can I get the digital coupons?</h3>
      <div class="faq-page__section-ans">
        <p>Download the latest version of the Whole Foods Market app to your iPhone or Android phone or visit <a class="link" href="http://www.wholefoodsmarket.com/coupons" title="Coupons page">www.wholefoodsmarket.com/coupons</a> . Then, create an account or sign in to your existing account to view coupons.  In the app,your digital coupon bar code will appear on the main screen. Once signed in on the app, you can also check out which coupons are available by tapping on &ldquo;Coupons&rdquo; in the menu.</p>
      </div>
    </div>
    <div class="faq-page__section-item">
      <h3 class="faq-page__section-ques">Can I choose my coupons?</h3>
      <div class="faq-page__section-ans">
        <p>There are coupons for a wide variety of products and departments. At this time, all app users get the same coupons. Customers are able to favorite their coupons to save them for reference in the Favorites list on the coupons tab.</p>
      </div>
    </div>
    <div class="faq-page__section-item">
      <h3 class="faq-page__section-ques">Can I access digital coupons from the website on my mobile phone, or do I need the app to access digital coupons?</h3>
      <div class="faq-page__section-ans">
        <p>The digital coupons are now available online at <a class="link" href="http://www.wholefoodsmarket.com/coupons" title="Coupons page">www.wholefoodsmarket.com/coupons</a>. Once you sign in or create an account you are able to view available coupons. Simply give your phone number at checkout when in store to get the discounts.</p>
      </div>
    </div>
  </div>
  <div class="faq-page__section">
    <h2 class="faq-page__section-title">Reedem</h2>
    <div class="faq-page__section-item">
      <h3 class="faq-page__section-ques">Which stores currently accept digital coupons?</h3>
      <div class="faq-page__section-ans">
        <p>All U.S. Whole Foods Market stores accept the digital coupons in the Whole Foods Market app.</p>
      </div>
    </div>
    <div class="faq-page__section-item">
      <h3 class="faq-page__section-ques">How do I use the digital coupons?</h3>
      <div class="faq-page__section-ans">
        <p>Simply show the in-app digital coupon bar code to the cashier at checkout or provide your phone number. When the code is scanned, all eligible coupons will automatically be applied to your transaction. Just be sure to give the cashier your code or phone number before you pay.</p>
      </div>
    </div>
    <div class="faq-page__section-item">
      <h3 class="faq-page__section-ques">Do my digital coupons expire?</h3>
      <div class="faq-page__section-ans">
        <p>Just like paper coupons, digital coupons do have an expiration date. The good news is that only current, eligible coupons will show on the &ldquo;Coupons&rdquo; screen in your app or on the website at <a href="/coupons" title="Digital Coupons Page">Digital Coupon</a>.</p>
      </div>
    </div>
    <div class="faq-page__section-item">
      <h3 class="faq-page__section-ques">Is there a limit to the number of digital coupons I can use?</h3>
      <div class="faq-page__section-ans">
        <p>All eligible digital coupons will be applied to your basket. No need to pick and choose which coupons to use. But they are single-use coupons – once you use them, you’ll need to wait for the next batch to be released (so check back often!).</p>
      </div>
    </div>
    <div class="faq-page__section-item">
      <h3 class="faq-page__section-ques">Can I use digital coupons when I use other coupons?</h3>
      <div class="faq-page__section-ans">
        <p>Digital coupons are just another way for you to save. While you can’t combine digital coupons with other offers on individual items, you can use other coupons on items that don’t have eligible digital coupons.</p>
      </div>
    </div>
    <div class="faq-page__section-item">
      <h3 class="faq-page__section-ques">Can I use my digital coupons when I shop with Instacart or for other online purchases?</h3>
      <div class="faq-page__section-ans">
        <p>Because we need to scan the bar code in your app, digital coupons are only for use when you present your app or provide your phone number in-store to the cashier.</p>
      </div>
    </div>
    <div class="faq-page__section-item">
      <h3 class="faq-page__section-ques">What if my phone is not scanned before my transaction is closed?</h3>
      <div class="faq-page__section-ans">
        <p>All digital coupons must be presented before you pay. If the coupon is unused and has not expired, you can still use it on a future qualifying purchase.</p>
      </div>
    </div>
    <div class="faq-page__section-item">
      <h3 class="faq-page__section-ques">I still see my digital coupon in my app after I used it in-store, why?</h3>
      <div class="faq-page__section-ans">
        <p>It can take up to a day for the coupon to disappear on your app’s “Coupons” screen. Digital coupons are single-use only, so once you have used a coupon, it is no longer eligible for use. A coupon will not be applied at checkout if it’s already been redeemed, even if you still see it in the app.</p>
      </div>
    </div>
    <div class="faq-page__section-item">
      <h3 class="faq-page__section-ques">Does my store accept digital coupons from other (non-Whole Foods Market) apps?</h3>
      <div class="faq-page__section-ans">
        <p>At this time, not all stores accept digital coupons from third parties. Check with your store to see if they honor digital coupons not found in the Whole Foods Market app.</p>
      </div>
    </div>
  </div>
  <div class="faq-page__section">
    <h2 class="faq-page__section-title">My Account</h2>
    <div class="faq-page__section-item">
      <h3 class="faq-page__section-ques">Do I have to create an account to receive the digital coupons?</h3>
      <div class="faq-page__section-ans">
        <p>Yes, you do need to create an account to use digital coupons (it’s easy!), but we will only use your email address to contact you if you’ve opted to hear from us.</p>
      </div>
    </div>
    <div class="faq-page__section-item">
      <h3 class="faq-page__section-ques">How does Whole Foods Market use the information I provide when I create my account?</h3>
      <div class="faq-page__section-ans">
        <p>We collect information that you provide directly to us and use this information to improve your shopping experience with us. You can find more information about our privacy policy at <a class="link" href="http://www.wholefoodsmarket.com/privacy-policy" title="Privacy Policy Page"> www.wholefoodsmarket.com/privacy-policy</a>.</p>
      </div>
    </div>
    <div class="faq-page__section-item">
      <h3 class="faq-page__section-ques">I can’t log in to my account, what should I do?</h3>
      <div class="faq-page__section-ans">
        <p>First, try resetting your password by clicking &ldquo;Forgot?&rdquo; on the app sign-in screen and follow the instructions to reset your password. If you are still having trouble, reach out to our <a class="link" href="http://www.wholefoodsmarket.com/content/customer-service-team-leader" title="Customer Service Page">Customer Service team</a>.</p>
      </div>
    </div>
    <div class="faq-page__section-item">
      <h3 class="faq-page__section-ques">How do I edit my email address associated with my Whole Foods Market account?</h3>
      <div class="faq-page__section-ans">
        <p>Sign in to our desktop website at <a class="link" href="http://www.wholefoodsmarket.com/signin" title="Sigin page">www.wholefoodsmarket.com/signin</a> using the email address with which you created your account. There you can update your email address, password and profile.</p>
      </div>
    </div>
  </div>
</div>
