// WFM forgot password From
//
// Markup: wfm-form-forgotpassword.twig
//
// Style guide: components.wfm-form.wfm-form-forgotpassword

.forgotpwd {
  &__text {
    @include rem('margin', 0 auto 30px auto);

    line-height: 1.4;

    @include breakpoint($up-sm) {
      @include rem('max-width', 500px);
    }
  }

  &__form-submit-error-msg {
    @include rem('top', 10px);

    display: block;
    position: relative;
    text-align: left;
  }

  &__request-status {
    @include rem('padding-top', 10px);
  }

  input[disabled] {
    color: $med-gray;
    border-color: $lighter-gray;
    background-color: $lighter-gray;
  }
}

.wfm-user-forgot-pass,
.wfm-user-upgrade-user,
.wfm-user-reset-pass,
.wfm-user-social-connect,
.path--my-account {
  .block-page-title-block {
    display: none;
  }

  .region-header {
    margin-bottom: 0;
  }

  .mq-main {
    @include rem('padding-top', 40px);
    @include rem('padding-bottom', 80px);

    box-sizing: border-box;

    @include breakpoint($small) {
      @include rem('padding-top', 20px);
      @include rem('padding-bottom', 20px);
    }
  }
}
