<div class="signinup__wrapper clearfix forgotpwd">
  <div class="signinup-container signup">
    <h1 class="signinup-container__title">Reset password</h1>
    <p class="signinup-container__text forgotpwd__text">Enter the email associated with your account and we'll send you a link to create a new password.</p>
    <div class="wfm-form__wrapper">
      <div class="wfm-form forgotpwd__form">
        <form action="#" >
          <div class="wfm-form__item forgotpwd__form-item">
            <label for="email-address-pf" class="wfm-form__label signup-form__label error" >Email Address</label>
            <input type="text" name="email-address" class="wfm-form__input signup-form__input error" id="email-address-pf" placeholder="Email Address" aria-describedby="email-error-message-pf" required="true">
            <span class="wfm-form__error-msg signup-form__error-msg" id="email-error-message-pf">Lorem ipsum dolor sit amet.</span>
          </div>
          <div class="wfm-form__item wfm-form__item-submit signin-form__item">
            <input type="submit" value="send" class="wfm-form__input signin-form__input" aria-describedby="email-error-message-pfr">
            <span class="wfm-form__error-msg signup-form__error-msg forgotpwd__form-submit-error-msg" id="email-error-message-pfr">We could not send a reset password request at this time. please try again later</span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
