{#
Content text for the download the app Block.
#}

<div class="rewards-my-rewards">
  <div class="rewards-my-rewards__header">
    <svg class="svg-MyRewards-logo-horiz-kale-dims">
      <use xlink:href="#MyRewards-logo-horiz-kale"></use>
    </svg>
  </div>
  <div class="rewards-my-rewards__content">
    <svg role="img" aria-label="The My Rewards process is simple. Just shop, scan, and save!" class="svg-shopscansave-dims">
      <use xlink:href="#shopscansave"></use>
    </svg>
  </div>
</div>
