{#

Content text for the Introduction Snippet

#}


<div class="coupons-int">
  <div class="coupons-int__bottom">
    Valid for <strong> Highland Park </strong> store, 4100 Lomo Alto Dr, Highland Park, TX. <span class="link" tabindex="0"> Change store </span>
  </div>
</div>
